.header {
    text-align: center;
}

.content {
    margin-bottom: 10px;
}

.jumbo {
    margin-top: 40px;
    color: #ffffff;
}

.jumbo-row {
    margin-top: 40px;
}

.resume:focus,
.resume { 
    color: #fff;
    background-color: gray;
    border-color: gray;
    border-radius: 0 !important;
    text-align: center;
    margin-top: 20px;
}

.resume:active,
.resume:hover {
    color: rgb(70, 70, 70);
    background-color: white;
    border-color: white;
    border-radius: 0 !important;
    outline: none;
}

.resume:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
    border-radius: 0 !important;
}

.project-cards {
    margin-top: 20px;
    margin-bottom: 20px;
}

.project {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5%;
}

.download-icon {
    margin-right: 5px;
}

.link-out {
    color: lightgray;
}

.link-out:hover {
    color: white;
}

.link-out-dark {
    color: gray;
}

.link-out-dark:hover {
    color: #292b2c;
}

input[type=text], input[type=email], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

.content-space {
    padding: 25px;
}

.form-content {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 20px;
}

.form-message {
    height: 200px;
}

button:focus,
input:focus, 
a:focus {
    outline: none;
}

.nav-link,
.nav-part,
.nav-link:hover {
    text-decoration: none !important;
}

@media (max-width:995px) { 
    .custom-center {
        text-align: center;
    }
} 


